body{
    font-family: 'Raleway', sans-serif;
    color:#398d8d;
    background:url("../../wood.jpg") no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}
#heading{
    padding:42px;
    background-color: #696969;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

    h1{
        font-family:'montserrat', sans-serif;
    }


.content{
    font-size:0.8em ;
    columns: orange ;
    background-color:#696969 ;
    padding:10px ;
    border-left:10px solid #398d8d ;
}
#sub{
    background-color:#696969;
    margin-top: 10px;
    padding: 5px 5px 5px 42px;
    -moz-border-radius: 3px;
    border-radius:3px;
    width:40%;
}
.highlight{
    background-color:yellow;
}
.package {
    background-color: #696969;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 20px;
    margin: 50px;
    font-size: 1.2em;
    border-bottom: 10px solid green;
    width: 200px;
  }
  #pricing-table{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
  }
  a:link{
      color:black
  }
  a:visited{
      color:greenyellow
  }
  a:hover{
      color:pink
  }
  a:active{
      color:#398d8d
  }
  .package:hover{
      background-color:green;
      color:white;
  }
  .content-bullets {
    padding-left: 40px;
    font-size: 1.5em;
    list-style: square;
  }
  #block{
      position: absolute;
  }
  .block{
      height:140px;
      width: 240px;
      background-color:#e98d8d;
      margin:20px;
      float:left;
      flex-wrap: wrap;
    }